{% load static %}	
<!-- Main Wrapper -->
<div class="wrapper">
	<!-- Header Start -->
	<header id="header" class="static-header">
		<div class="main-header">
			<div class="wide">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="logo">
							<figure>
								<a href="{% url 'home'%}" class="light-logo">
									<img src="{% static 'extra-images/logo-conexion.png'%}" alt="CONEXIONGOURMET" style="width: 100%;">
								</a>
							
							</figure>
						</div>
						<div class="main-nav">
							<nav id="site-navigation" class="main-navigation">
								<ul>
									
									
									<li class="menu-item-has-children">
										<a href="{% url 'home'%}">Home</a>
									</li>
									<li class="menu-item-has-children">
										<a href="{% url 'vendor'%}">Restaurants</a>
									</li>
									<li class="menu-item-has-children">
										<a href="">About</a>
									</li>
									<li class="menu-item-has-children">
										<a href="">Contact</a>
									</li>
								</ul>
							</nav><!-- .main-navigation -->
						</div>
					
					<div class="main-location">
						<ul>
							<li class="location-has-children choose-location">
								<form action="#">
									<input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
									<span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
								</form>
								
							</li>
						</ul>
						</div>
				</div>
						
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="login-option">
						
						<a href="{% url 'marketplace'%}" class="btn btn-outline-danger text-uppercase font-weight-bold" style="color: aliceblue">Marketplace</a>
					
						{% if user.is_authenticated %}
						Hola, {{ user.username }}
						<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}" style="color: aliceblue;">My account</a> 
						<a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}" style="color: aliceblue;">Logout</a>


						{% else %}
						<a class="cs-color cs-popup-joinus-btn login-popup " href="{% url 'login' %} " style="color: aliceblue;">
							Login
						</a>
						<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'registerUser' %}" style="color: aliceblue;">
							Register
						</a>
						<a class="get-start-btn" href="{% url 'registerVendor'%}" style="color: aliceblue;">
							Register
							Restaurant </a>
						{% endif%}
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->
</div>
<style>
	/* Estilos generales para el encabezado */
.static-header {
    background-color: #eb6825; /* Naranja */
    position: static; /* Asegúrate de que el encabezado no sea sticky */
    width: 100%;
    padding: 4px 0; /* Espaciado superior e inferior */
    z-index: 1000; /* Mantener el encabezado encima de otros elementos */
}

.static-header .logo img {
    max-height: 90px; /* Ajusta la altura del logo */
}




</style>